@import "tailwindcss";

@theme {
  --color-chem: #00e5a0;
  --color-chem-light: #00b894;
  --color-code: #6c5ce7;
  --color-code-light: #a29bfe;
  --color-ai: #ff6b6b;
  --color-ai-light: #ffa07a;
  --color-dark: #0a0a0f;
  --color-card: #16161f;
  --color-card-border: #222235;
  --color-amber: #f59e0b;

  --font-outfit: "Outfit", sans-serif;
  --font-playfair: "Playfair Display", serif;
  --font-mono: "JetBrains Mono", monospace;
}

:root {
  --background: #0a0a0f;
  --foreground: #f0f0f5;
  --muted: #8888a0;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: var(--color-dark);
}
::-webkit-scrollbar-thumb {
  background: var(--color-card-border);
  border-radius: 3px;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
}
